---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="post-item">
          <div class="meta">
            <span class="post-meta">{{ post.date | date: "%d %B %Y" }}</span>
          </div>

          <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
          </a>

          <div class="post-content">
            <p>{{ post.content | strip_html | truncatewords:75 }}</p>
          </div>
          <a href="{{ post.url }}" class="post-more">Read more...</a>

          {% include post-socials.html url=post.url title=post.title %}

        </div>
      </li>
    {% endfor %}
  </ul>
</div>
