<ul class="post-socials">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ include.url }}&amp;t={{ include.title }}" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text={{ include.title }}&amp;url={{ include.url }}&amp;via={{ site.twitter_username }}" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ include.url }}" target="_blank">
      <i class="fa fa-google-plus"></i>
    </a>
  </li>
</ul>
